<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PolarSteps Travel book</title>
    <link rel="stylesheet" href="assets/style.css" />
    <link rel="stylesheet" href="assets/fonts/fonts.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% for step in steps %}
    <div class="break-after">
      <div class="text-content">
        <div class="step-cover">
          <div class="step-days">
            <div
              class="step-days-popup"
              style="left: {{ step.trip_percentage }}%;"
            >
              Jour {{ step.day_number }}
              <div class="step-days-popup-arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="15"
                  viewBox="0 0 40 15"
                  fill="none"
                >
                  <path
                    d="M17.5012 0.999025C18.9621 -0.169674 21.0379 -0.169676 22.4988 0.999024L40 15H0L17.5012 0.999025Z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="step-days-bar">
              <div
                class="step-days-bar-fill"
                style="width: {{ step.trip_percentage }}%;"
              ></div>
            </div>
          </div>
          <div class="step-header">
            <div>
              <div class="step-country">
                <div class="step-country-flag">
                  <span class="fi fi-{{ step.country_code | lower }}"></span>
                </div>
                {% if step.country_code != '00' %}
                <div class="step-country-name">{{ step.country }}</div>
                {% endif %}
              </div>
              <div class="step-title">{{ step.name }}</div>
            </div>
            {% if step.country_code != '00' %}
            <div class="step-map">
              <img
                src="assets/images/maps/{{ step.country_code | lower }}.svg"
                alt=""
              />
              <div
                class="step-map-dot"
                style="top: {{ (100 - step.position_percentage[0]) }}%; left: {{ step.position_percentage[1] }}%"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="80"
                  height="80"
                  viewBox="0 0 80 80"
                  fill="none"
                >
                  <circle
                    opacity="0.3"
                    cx="40"
                    cy="40"
                    r="40"
                    fill="#47AEA2"
                  ></circle>
                  <circle
                    opacity="0.5"
                    cx="40"
                    cy="40"
                    r="30"
                    fill="#47AEA2"
                  ></circle>
                  <circle
                    opacity="0.7"
                    cx="40"
                    cy="40"
                    r="18"
                    fill="#47AEA2"
                  ></circle>
                </svg>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="step-stats">
            <div class="step-stat">
              <div class="step-stat-data">
                {{ step.start_time.strftime("%d") }}
              </div>
              <div class="step-stat-description">
                {{ step.start_time.strftime("%B") }}
              </div>
            </div>
            <div class="step-stat">
              <div class="step-stat-data">
                {{ step.weather_temperature }} °C
              </div>
              <div class="step-stat-description">
                {{ step.weather_condition }}
              </div>
            </div>
            <div class="step-stat">
              <div class="step-stat-data">{{ step.elevation }}</div>
              <div class="step-stat-description">Metres d'altitude</div>
            </div>
          </div>
          <div class="step-description">{{ step.description }}</div>
        </div>
      </div>
    </div>
    {% for photo in step.photos %}
    <div class="break-after">
      <div class="photos-container">
        <img class="photo" src="{{ photo.path }}" alt="" />
      </div>
    </div>
    {% endfor %} {% endfor %}
  </body>
</html>
