<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PolarSteps Travel book</title>
    <link rel="stylesheet" href="assets/style.css" />
    <link rel="stylesheet" href="assets/fonts/fonts.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% for step in steps %}
      <div class="break-after">
        {% if step.has_cover_photo %}
          {% include 'step/step_with_cover.html' %}
        {% else %}
          {% include 'step/step.html' %}
        {% endif %}
      </div>
      {% for page in step.photos_by_pages %}
        <div class="break-after">
          {% if page | length <= 2 %}
            {% include 'photos/one_or_two.html' %}
          {% endif %}
          {% if page | length > 2 and page | length <= 4 %}
          {% include 'photos/three_or_four.html' %}
          {% endif %}
        </div>
      {% endfor %}
    {% endfor %}
  </body>
</html>
