:root {
  --theme-color: rgb(71, 174, 162);
  --theme-secondary: rgb(0, 46, 61);
  --dark-1: rgb(0, 46, 61);
  --grey-9: #4b5a6c;
  --grey-15: #8a99ad;
  --grey-19: #b7c0cd;
  --grey-23: #e7eaee;

  --content-padding: 202px;
  --full-to-relative: 0.35;
  --country-shape-size: 348px;
  --bar-height: calc(12px * var(--full-to-relative));
}

html {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.text-content {
  padding: calc(202px * var(--full-to-relative));
}

.text-content--one-column {
  display: grid;
  columns: 3;
}

.step-days {
  position: relative;
  margin-top: calc(50px * var(--full-to-relative));
}

.step-days-bar,
.step-days-bar-fill {
  height: var(--bar-height);
  border-radius: calc(var(--bar-height) / 2);
}

.step-days-bar {
  background: var(--grey-23);
}

.step-days-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--theme-color);
}

.step-days-popup {
  position: absolute;
  top: calc(-110px * var(--full-to-relative));
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(204px * var(--full-to-relative));
  height: calc(78px * var(--full-to-relative));
  font-family: "BrandonGrotesque";
  font-weight: 500;
  font-size: calc(40px * var(--full-to-relative));
  color: white;
  line-height: calc(40px * var(--full-to-relative));
  text-transform: uppercase;
  background-color: var(--theme-color);
  border-radius: calc(8px * var(--full-to-relative));
  transform: translateX(-50%);
}

.step-days-popup-arrow {
  --arrow-height: calc(15px * var(--full-to-relative));
  --arrow-width: calc(40px * var(--full-to-relative));
  position: absolute;
  width: var(--arrow-width);
  height: var(--arrow-height);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 95%) rotate(180deg);
  display: flex;
}

.step-days-popup-arrow svg {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.step-days-popup-arrow svg path {
  fill: var(--theme-color);
}

.step-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.step-map {
  height: calc(var(--country-shape-size) * var(--full-to-relative));
  position: relative;
  margin-top: calc(50px * var(--full-to-relative));
}

.step-map img {
  height: 100%;
}

.step-map-dot {
  --dot-size: calc(60px * var(--full-to-relative));
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  transform: translate(-50%, -50%);
  display: flex;
}

.step-map-dot svg {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.step-country {
  margin-top: calc(69px * var(--full-to-relative));
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.step-country-flag {
  position: relative;
  top: -2px;
}

.step-country-name {
  font-family: "BrandonGrotesque";
  font-weight: 500;
  color: var(--dark-1);
  font-size: calc(69px * var(--full-to-relative));
  line-height: calc(80px * var(--full-to-relative));
  text-transform: uppercase;
}

.step-title {
  font-family: "BrandonGrotesque";
  font-weight: 500;
  color: var(--dark-1);
  font-size: calc(120px * var(--full-to-relative));
  text-transform: uppercase;
  line-height: calc(120px * var(--full-to-relative));
  hyphens: manual;
  overflow-wrap: break-word;
  text-align: left;
  text-align: start;
}

.step-stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: calc(100px * var(--full-to-relative));
  font-family: "BrandonGrotesque";
  font-weight: 500;
}

.step-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-stat-data {
  margin-bottom: calc(22px * var(--full-to-relative));
  color: var(--theme-color);
  font-size: calc(80px * var(--full-to-relative));
  line-height: calc(80px * var(--full-to-relative));
}

.step-stat-description {
  text-transform: uppercase;
  color: var(--grey-15);
  font-size: calc(40px * var(--full-to-relative));
  line-height: calc(40px * var(--full-to-relative));
}

.step-description {
  color: var(--grey-9);
  font-size: calc(39px * var(--full-to-relative));
  margin-top: calc(100px * var(--full-to-relative));
  white-space: pre-wrap;
}

.photo-columns {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 100vh;
}

.photo-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.photo-container {
  position: relative;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.photo-index {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 40px;
  font-family: "BrandonGrotesque";
  font-weight: 500;
  color: red;
}

@media print {
  .photo-index {
    display: none;
  }
}

.photo {
  width: 100%;
  height: auto;
}

.break-before {
  page-break-before: always;
}

.break-after {
  page-break-after: always;
  border: dashed 5px red;
  margin-bottom: 10px;
}

@media print {
  .break-after {
    border: none;
    margin-bottom: 0;
  }
}
